$primary: #FFFFFF;
$secondary: #000000;
$tertiary: #FF8433;
$error: #E52700;
$outline: #cccccc;


$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "error": $error,
  "outline": $outline,
);
