@import './variables';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import './custom.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  font-family: 'Merriweather', serif;
}

main {
  flex-grow: 1;
}

p{
  margin: 0;
}

