.nav-logo{
  height: 43px;
  width: 213px;
}

#cArea1{
  height: 154px;
}

.square{
  height: 70px;
}

.equalsqr{
  height: 260px;
}
.cfont{
  font-size: 40px;
}

.clineHeight{
  line-height: 1;
}

#historyContainer{
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hisText{
  overflow-x:hidden;
}